html, body{
    background: url("../BACKGROUND CATEGORY.png") top left no-repeat;
    background-size: cover;
}

#signup-nav{
    border: 2px solid white;
}

nav.navbar a.navbar-brand{
    font-size: 40px;
}

nav.navbar div.collapse{
    font-size: 30px;
}

.container{
    color: white;
}

.billboard{
    text-align: center;
}

.billboard h1{
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.billboard input[type="number"]{
    width: 700px;
    font-size: 60px;
    border-radius: 20px;
    border: 0px;
}

.billboard label{
    margin-top: 20px;
    font-size: 20px;
}

.next-button button{
    background: gold;
    color: dimgray;
    width: 200px;
    font-size: 30px;
    border: 0;
    border-radius: 20px;
    margin-top: 125px;
}

div.container div.billboard button.btn.btn-light.btn-lg.btn-block.button-text{
    font-size: 30px;
    color: dimgray;
    width: 150px;
    border-radius: 300px;
    display: inline-block;
}

.next-button{
    height: 260px;
}

.lowest-footer h1{
    margin-top: 260px;
    color: white;
    font-size: 40px;
}